<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        *{
            margin: 0;
            padding: 0;
            overflow: hidden;
            box-sizing: border-box;
        }
        footer{
            margin: 0;
            text-align: center;
            background: darkcyan;
            width: 100%;
            height: 40px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 500;
            padding: 20px 0 0;

        }

    </style>
    <footer>
        CopyRight {{footer}}: time is now {{getTime}}
    </footer>
</body>
</html>